@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    overflow-x: hidden;
}

label,
input {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.body-color {
    background-color: #2D2929;
}

form {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 1px 8px 2px rgba(34, 60, 80, 0.2);
}

.header {
    color: #2D2929;
}

.header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.header__text {
    font-size: 16px;
    font-weight: 410;
    line-height: 24px;
    margin-top: 15px;
}

.form {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}

.form__input {
    padding: 16px;
    width: 320px;
    height: 50px;
    border: 1px solid rgba(40, 67, 203, 0.5);
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form__input::placeholder {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.75px;
}

.form__input:focus {
    outline: 1px solid rgba(40, 67, 203, 0.5);
}

.form__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    margin-bottom: 5px;
}

.select {
    display: flex;
    gap: 30px;
    padding: 25px 0;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}

.select__stamp {
    position: relative;
}

.select__stamp::after {
    content: url('../assets/images/stamp.svg');
    position: absolute;
    left: 14px;
    top: 32px;
}

.select__stamp::before {
    content: url('../assets/images/arrow.svg');
    position: absolute;
    top: 39px;
    right: 21px;
    pointer-events: none;
}

.select__stamp--rotate::before {
    content: url('../assets/images/arrow.svg');
    position: absolute;
    top: 39px;
    right: 21px;
    pointer-events: none;
    transform: rotate(180deg);
}

.select__caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.select__button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 5px;
    width: 100%;
    padding: 16px 121px 15px 57px;
    border: 1px solid rgba(40, 67, 203, 0.5);
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.75px;
    cursor: pointer;
}

.select__button::-ms-expand {
    display: none;
}

.select__button:focus, .select__button--active {
    outline: 1px solid rgba(40, 67, 203, 0.5);
}

.select__wrapper {
    position: relative;
}

.select__list {
    position: absolute;
    left: 0;
    top: 58px;
    list-style-type: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    z-index: 9999;
}

.select__list-item {
    border: 1px solid #7e9bbd;
    border-bottom: 0;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.select__list-item:first-child {
    border-radius: 6px 6px 0 0;
}

.select__list-item:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #7e9bbd;
}

.select__list-item:hover {
    background: rgba(176, 198, 225, 0.26);
}

.select__list-item::before {
    content: url('../assets/images/stamp.svg');
}

.select__file {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 319px;
}

.select__file > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.select__file > label {
    width: 160px;
}

.fileinput-wrapper {
    max-width: 150px;
    cursor: pointer;
    margin-top: 19px;
}

.upload-files {
    margin-top: 19px;
}

.upload-files > label {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #C92232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    border: none;
    background: none;
    cursor: pointer;
}

.upload-files > label::before {
    content: url('../assets/images/attach.svg');
    margin-right: 9px;
}

#control {
    display: none;
}

.remove-files-btn {
    display: none;
    border: 1px solid #C92232;
    background: none;
    color: #C92232;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.remove-files-btn_add {
    display: block;
}

.stamp-type {
    margin-top: 25px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    padding-bottom: 25px;
}

.swiper {
    margin-top: 20px;
}

.swiper__caption {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
}

.swiper__price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: rgba(201, 34, 51, 0.329);
}

.order {
    margin-top: 25px;
}

.order__checkbox {
    display: flex;
    gap: 7px;
}

.order__checkbox > label {
    cursor: pointer;
    position: absolute;
    padding-left: 23px;
}

.custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border: 1px solid #C92232;
    border-radius: 3px;
    vertical-align: sub;
    position: relative;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../assets/images/checked.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1s ease;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.order__button {
    display: flex;
    gap: 33px;
    margin-top: 25px;
}

.order__button-btn {
    padding: 18px 66px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    background-color: #C92232;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.order__button-btn:hover {
    background-color: #bd2231;
}

.order__button-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    max-width: 320px;
}

.order__button-text > a:link {
    color: #2843CB;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

.modal {
    position: relative;
    max-width: 845px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.visible {
    display: none !important;
}

.button {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.closeModal {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;
}

.closeModal:hover {
    opacity: 1;
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}



@media (max-width: 1440px) {
    .header__title {
        font-size: 35px;
    }
    .header__text {
        font-size: 15px;
    }
    .form__input {
        margin-bottom: 14px;
    }
    .form__input:last-child {
        margin-bottom: 25px;
    }
    .select {
        padding: 15px 0;
    }
    .fileinput-wrapper {
        margin-top: 15px;
    }
}

@media (max-width: 1024px) {
    form {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header__title {
        font-size: 30px;
    }
    .form__label {
        font-size: 13px;
    }
    .form__input {
        width: 320px;
        height: 45px;
    }
    .select__button {
        padding: 15px 110px 14px 57px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16.75px;
    }
    .select__stamp::after {
        top: 28px;
    }
    .select__stamp::before {
        top: 35px;
    }
    .select__file > p {
        font-size: 13px;
    }
    .fileinput-wrapper {
        margin-top: 10px;
    }
    .stamp-type {
        margin-top: 20px;
    }
    .swiper {
        margin-top: 17px;
    }
    .order {
        margin-top: 20px;
    }
    .order__button-btn {
        font-size: 15px;
        padding: 16px 66px;
    }
    .order__button-text {
        font-size: 13px;
    }
}

@media (max-width: 866px) {
    .modal {
        max-width: 745px;
    }
}

@media (max-width: 768px) {
    .modal {
        max-width: 700px;
    }
    form {
        padding: 25px;
    }
    .container {
        max-width: 660px;
    }
    .header__text {
        max-width: 500px;
    }
    .form {
        margin-top: 20px;
        gap: 20px;
    }
    .form__input:last-child {
        margin-bottom: 20px;
    }
    .fileinput-wrapper {
        margin-top: 5px;
    }
    .select__button {
        padding-right: 69px;
    }
    .select__button::before {
        top: 37px;
    }
    .select__stamp::after {
        top: 31px;
    }
    .select__file > p {
        max-width: 300px;
    }
    .stamp-type__title {
        font-size: 14px;
    }
}

@media (max-width: 728px) {
    .modal {
        max-width: 650px;
    }
    .form__input {
        width: 280px;
    }
}

@media (max-width: 670px) {
    form {
        padding: 20px;
        height: 100%;
        overflow-y: auto;
    }
    .header {
        max-width: 300px;
    }
    .header__title {
        font-size: 25px;
    }
    .header__text {
        font-size: 14px;
    }
    .form {
        flex-direction: column;
        margin-top: 15px;
    }
    .form__input {
        width: 300px;
    }
    .select {
        flex-direction: column;
    }
    .swiper-wrapper {
        width: 300px !important;
    }
    .swiper__caption,
    .swiper__price {
        width: 145px;
    }
    .order__button {
        flex-direction: column;
        max-width: 317px;
        gap: 24px;
        margin-top: 15px;
    }
    .order__button-btn {
        padding: 18px 66px;
    }
}

@media (max-width: 320px) {
    form {
        padding: 20px 10px;
    }
    .header {
        max-width: 270px;
    }
    .select__button {
        padding-right: 95px;
    }
    .order__checkbox > label {
        font-size: 15px;
    }
    .order__button-btn {
        font-size: 14px;
    }
}